<h4 class="mt-2 mb-2">Zlecenia</h4>

<div class="row">
<button routerLink='/order/add' class="btn btn-outline-success mt-2 mb-4 ml-3 mr-4">Dodaj zlecenie</button>
<form #searchForm="ngForm" class="form-inline mt-2 mb-4" >
    <input type="text" class="form-control" [(ngModel)]="searchOrder" [ngModelOptions]="{standalone: true}" placeholder="Wyszukaj zlecenie">
</form>
<div class="dropdown  mt-2 mb-4 ml-3 mr-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtruj
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="getOrders()">Wszystkie</a>
      <a class="dropdown-item" (click)="getOnlyNewOrders()">Nowe</a>
      <a class="dropdown-item" (click)="getOnlyRealizedOrders()">Realizowane</a>
      <a class="dropdown-item" (click)="getOnlyFinishOrders()">Zamknięte</a>
    </div>
  </div>
</div>


<div class="container-fluid">
    <div class="row"> 
        <table class="table">
            <thead> 
                <tr> 
                    <th style="width: 15%;">Id</th> 
                    <th style="width: 15%;">Klient</th>
                    <th style="width: 15%;">Urządzenie</th>      
                    <th style="width: 15%;">Typ</th>
                    <th style="width: 15%;">Status</th> 
                    <th style="width: 25%;"></th> 
                </tr> 
            </thead>
            <tbody>
                <tr *ngFor="let order of orders | filter: searchOrder">
                    <td>{{order.id}}</td>
                    <td>{{order.appCustomer.name}} {{order.appCustomer.surname}}</td>
                    <td>{{order.appDevice.name}}</td>
                    <td>{{order.appOrderType.name}}</td>
                    <td>
                        <ng-container *ngIf="order.appOrderStatus.name === 'Nowe'">
                            <span class="badge badge-danger"> {{order.appOrderStatus.name}}</span>
                        </ng-container>
                        <ng-container *ngIf="order.appOrderStatus.name === 'Realizowane'">
                            <span class="badge badge-warning"> {{order.appOrderStatus.name}}</span>
                        </ng-container>
                        <ng-container *ngIf="order.appOrderStatus.name === 'Zamknięte'">
                            <span class="badge badge-success"> {{order.appOrderStatus.name}}</span>
                        </ng-container>
                     </td>
                    <td>
                        <button routerLink='/orders/{{order.id}}'class="btn btn-outline-info">Zobacz szczegóły</button>
                    </td>
                </tr>
            </tbody>
    
        </table>
    </div>
</div>
