<h2 class="mt-2 mb-4 ml-2">Edycja pracownika</h2>

<div class="col-4" *ngIf="member">
    <form #editForm="ngForm" (ngSubmit)="updateMember()">
        <h4>Name</h4>
        <textarea class="form-control" [(ngModel)]="member.name" name="name" rows="1"></textarea>
        <h4 class="mt-2">Surname</h4>
        <textarea class="form-control" [(ngModel)]="member.surname" name="surname" rows="1"></textarea>
        <button [disabled]="!editForm.dirty" class="btn btn-outline-success mt-2">Zapisz zmiany</button>
    </form>
    </div> 