.customer{
    float:left;
    margin-right: 50px;
}

.device{
    clear:both;
    float: left;
    margin-right: 50px;
    margin-top: 20px; 
}

.orderStatus{
    margin-top: 20px;
}

.scheduledDate{
    margin-top: 20px;
}


.form-control{
    width:400px;
}

.refrigerant{
    float:left;
    margin-right: 50px;
    margin-top: 20px;
}
.weight{
    margin-top: 20px;
}

#use{
    width: 850px;
}