<h4 class="mt-2 mb-2">Klienci</h4>

<div class="row">
<button routerLink='/customer/add/' class="btn btn-outline-success mt-2 mb-4 ml-3 mr-4">Dodaj klienta</button>
<form #searchForm="ngForm" class="form-inline mt-2 mb-4" >
    <input type="text" class="form-control" name="search" [(ngModel)]="searchText" placeholder="Wyszukaj klienta">
</form>
</div>

<div class="container-fluid">
    <div class="row">
        <table class="table"> 
            <thead>
                <tr> 
                    <th style="width: 10%;">Id</th>
                    <th style="width: 10%;">Imię</th>    
                    <th style="width: 10%;">Nazwisko</th>
                    <th style="width: 10%;">Miasto</th>  
                    <th style="width: 20%;"></th>
                   
                </tr> 
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers | filter:searchText">
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.surname}}</td>
                    <td>{{customer.city}}</td>
                    <td>
                        <button routerLink='/customers/{{customer.id}}'class="btn btn-outline-info">Zobacz szczegóły</button>
                    </td>
                </tr>
            </tbody>
    
        </table>
    </div>
</div>

