<div class="row" *ngIf="customer">    
    <div class="col-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{customer.name}} {{customer.surname}}</h5>
        <div>
            <strong>Id:</strong>
            <p>{{customer.id}}</p>
        </div>
        <div> 
            <strong>Imię i nazwisko:</strong>
            <p>{{customer.name}} {{customer.surname}}</p>   
        </div>
        <div> 
            <strong>Ulica i numer domu:</strong>
            <p>{{customer.streetNumber}}</p>   
        </div>
        <div> 
            <strong>Miasto i kod pocztowy:</strong>
            <p>{{customer.city}} {{customer.postCode}}</p>        
        </div>
        <div> 
            <strong>Numer telefonu:</strong>
            <p>{{customer.phoneNumber}}</p>   
        </div>
        </div>
        <div class="card-footer">
         <div class="btn-group d-flex">
        <button routerLink='/customer/edit/{{customer.id}}'class="btn btn-outline-warning">Edytuj</button>
       
        <button (click)="deleteCustomer()" class="btn btn-outline-danger">Usuń</button>
         </div> 
        </div>
    </div>
    </div>
</div>