.btn{
    margin: 3px;
}
.customer{
    float:left;
    width: 300px;
}

.device{
    clear: both;
    float: left;
    width: 300px;
}

.orderStatus{
    margin-right: 20px; 
    
}

.scheduledTime{
    margin-right: 20px;
    clear: both;
}


